body{
    margin:0;
    font-family:Arial;
    background:#f0f4f8;
}

.login-box{
    width:320px;
    margin:120px auto;
    padding:30px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px gray;
    text-align:center;
}

input[type=text], input[type=password]{
    width:90%;
    padding:10px;
    margin:10px 0;
}

input[type=submit]{
    width:100%;
    padding:10px;
    background:#0078d4;
    color:white;
    border:none;
    cursor:pointer;
}